/****** Object:  Table [dbo].[City]    Script Date: 2019/5/28 12:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Code] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProvCode] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dist]    Script Date: 2019/5/28 12:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dist](
	[Code] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CityCode] [int] NOT NULL,
 CONSTRAINT [PK_Dist] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prov]    Script Date: 2019/5/28 12:12:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prov](
	[Code] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Prov] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[City] ([Code], [Name], [ProvCode]) VALUES (110100, N'北京', 110000)
INSERT [dbo].[City] ([Code], [Name], [ProvCode]) VALUES (120100, N'天津', 120000)
INSERT [dbo].[City] ([Code], [Name], [ProvCode]) VALUES (130100, N'石家庄', 130000)
GO
INSERT [dbo].[Dist] ([Code], [Name], [CityCode]) VALUES (110101, N'东城', 110100)
INSERT [dbo].[Dist] ([Code], [Name], [CityCode]) VALUES (110102, N'西城', 110100)
INSERT [dbo].[Dist] ([Code], [Name], [CityCode]) VALUES (110105, N'朝阳', 110100)
GO
INSERT [dbo].[Prov] ([Code], [Name]) VALUES (110000, N'北京')
INSERT [dbo].[Prov] ([Code], [Name]) VALUES (120000, N'天津')
INSERT [dbo].[Prov] ([Code], [Name]) VALUES (130000, N'河北')
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Prov] FOREIGN KEY([ProvCode])
REFERENCES [dbo].[Prov] ([Code])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Prov]
GO
ALTER TABLE [dbo].[Dist]  WITH CHECK ADD  CONSTRAINT [FK_Dist_City] FOREIGN KEY([CityCode])
REFERENCES [dbo].[City] ([Code])
GO
ALTER TABLE [dbo].[Dist] CHECK CONSTRAINT [FK_Dist_City]
GO
